@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
      --background: 0 0% 100%;
--foreground: 150 10% 15%;
--muted: 150 40% 96.1%;
--muted-foreground: 150 16% 47%;
--popover: 0 0% 100%;
--popover-foreground: 150 10% 15%;
--card: 0 0% 100%;
--card-foreground: 150 10% 15%;
--border: 150 32% 91%;
--input: 150 32% 91%;
--primary: 143 65% 40%;
--primary-foreground: 0 0% 100%;
--secondary: 130 55% 82%;
--secondary-foreground: 143 55% 20%;
--accent: 168 77% 40%;
--accent-foreground: 0 0% 100%;
--destructive: 0 84.2% 60.2%;
--destructive-foreground: 60 9.1% 97.8%;
--ring: 143 65% 40%;
--radius: 0.75rem;
  }
  .dark {
      --background: 150 15% 10%;
--foreground: 120 10% 98%;
--muted: 150 15% 15%;
--muted-foreground: 150 10% 70%;
--popover: 150 15% 10%;
--popover-foreground: 120 10% 98%;
--card: 150 15% 10%;
--card-foreground: 120 10% 98%;
--border: 150 20% 20%;
--input: 150 20% 20%;
--primary: 143 55% 42%;
--primary-foreground: 0 0% 100%;
--secondary: 130 45% 50%;
--secondary-foreground: 143 55% 12%;
--accent: 168 55% 40%;
--accent-foreground: 0 0% 100%;
--destructive: 0 62.8% 30.6%;
--destructive-foreground: 0 0% 98%;
--ring: 143 55% 42%;
--radius: 0.75rem;
  }

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

